<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-title color="primary" class="ion-text-center"><b>Publicar</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="post-wrapper">
    <button type="button" class="photo-placeholder">
      <ion-icon name="camera-outline"></ion-icon>
      <span>Agregar foto</span>
    </button>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input label="Título" labelPlacement="floating" formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Categoría" labelPlacement="floating" formControlName="category">
          @for (category of categories; track category) {
            <ion-select-option [value]="category">{{ category }}</ion-select-option>
          }
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input
          label="Precio de garantía"
          labelPlacement="floating"
          type="number"
          formControlName="guaranteePrice"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea
          label="Descripción"
          labelPlacement="floating"
          formControlName="description"
          autoGrow="true"
        ></ion-textarea>
      </ion-item>

      @if (submitted()) {
        <p class="post-success">¡Publicación creada! (función aún no conectada)</p>
      }

      <ion-button expand="block" type="submit" class="post-submit" [disabled]="form.invalid">
        Publicar
      </ion-button>
    </form>
  </div>
</ion-content>
