<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-wrapper">
    <ion-avatar>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-avatar>

    <h2>{{ fullName() || 'Usuario' }}</h2>
    <p>{{ email() }}</p>

    <ion-button expand="block" color="medium" fill="outline" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
