<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <!-- Botón central destacado con acento Coral -->
    <ion-tab-button tab="add-post" class="fab-tab-button">
      <div class="fab-button-inner">
        <ion-icon name="add"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="clipboard-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
