ion-content {
  --background: #ffffff;
}

.need-banner {
  background: var(--ion-color-secondary); /* Azul contrastante secundario */
  color: #ffffff;
  border-radius: var(--tp-radius-md);
  margin-top: var(--tp-space-md);

  ion-card-title, ion-card-subtitle {
    color: #ffffff;
  }

  ion-button {
    --background: #ffffff;
    --color: var(--ion-color-primary); /* Texto coral */
    font-weight: bold;
  }
}
